@use "sass:math";
@import "~@/assets/scss/mixin";

.container {
  position: relative;
}

.image {
  display: block;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 20px 0;

  &:hover {
    .imageInner {
      transform: scale(1.1);
    }
  }

  &::before {
    display: block;
    padding-bottom: math.div(186, 248) * 100%;
    content: "";
  }
}

.imageInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.1s ease-out;
}

.label {
  position: relative;
  padding: 10px 0;
  color: #293c55;
  font-size: 14px;

  @include ellipsis;
}
